	header.topo {
		background-image: linear-gradient(black, #141414);
	}

	body{
	background-color: #141414;
	height: 100%;
	width: 100%;
	padding: 0%;
	margin: 0%;
	font-family: 'Helvetica Neue';
	}

	div {
		float: center;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		width: 100%;
		padding: 0%;
		margin: 0%;
	}

	div.pg-home{
		float: center;
		text-align: center;
		width: 858px;
		height: auto;
		padding: 0%;
		margin: auto;
	}
	
	ul {
		text-align: center;
		width: 858px;
		height: 195px;
		padding: 0%;
		margin: 0%;

	}

	.user{
		text-align: center;
		column-count: 4;
		column-width: 186px;
		display: inline-block;
		width: 186px;
	}

	.user-fig {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: 100%;
	}

	.tamanhofont {
		font-size: 40px;
	}

	.nametr {
		color: rgba(202, 28, 28, 0);
	}

	.imgs {
		width: 140px;
		height: 75px;
		border-color: rgba(255, 255, 255, 0);
		padding-left: 35px;
		padding-bottom: 15px;
	}

	footer {
		padding-top: 80px;
	}
	
	section {
		margin-top: 70px;
	}

	.col-white {
		color: rgba(255, 255, 255, 0.904);
		font-family: 'Helvetica';
	}
	
	.col-gray {
		color: gray;
		font-weight: bold;
	}

	.col-size {
		font-size: 45px;
		margin-bottom: 15px;
	}

	img {
		border-style: solid;
		border-width: 2px;
		border-color: #1f1f1f;
		border-radius: 3%;
	}

	.img-size {
		width: 100px;
		height: 100px;
		padding-bottom: 24px;
		padding-top: 24px;
		padding-left: 24px;
		padding-right: 24px;
	}
	
	.il {
		display: inline-block;
		padding-top: 1px;
	}

	.reset {
		padding: 0;
		margin: 0%;
		padding-right: 7px;
		padding-top: 10px;
	}

	figure.ok:hover .border {
		border-style: solid;
		border-width: 2px;
		border-color: white;
	}
	figure.ok:hover .letra {
		color: white;
	}

	figure.ok:hover .mais {
		background-color: rgba(255, 255, 255, 0.89);
	}

	button {
		padding-top: 8px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 8px;

		font-family: Helvetica;
		background-color: #141414;
		color: grey;
		font-size: 19px;

		border-style: solid;
		border-width: 0.5px;
		border-color: grey;
	}
	
	button:hover {
		color: white;
		border-style: solid;
		border-width: 0.5px;
		border-color: white;
	}

	.pointer {
		cursor: pointer;
	}